
<div class="container driver-container">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1>Editing Driver</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= render 'form' %>
      <%= link_to 'Cancel', @driver, class: 'btn btn-danger link-btn' %>
    </div>
  </div>
</div>

