
<div class="container driver-container">
  <div>
    <div>
      <div class="page-header">
        <h1>Editing Driver</h1>
      </div>
    </div>
  </div>
  <%= render :partial => 'form', :locals => {:editing => true} %>
  <% search_hash = {} %>
  <%
    if params[:search]
      params[:search].each do |sp|
        search_hash[sp] = params[:search][sp]
      end
    end
  %>
  <%= link_to 'Cancel',
    driver_path(
      id: @driver.id,
      search: search_hash,
      report: params[:report]
    ), class: 'btn btn-danger link-btn' %>
</div>

