/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require daterangepicker-bs2
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: whitespace;
  padding: 0 25px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;

  #map-container {
    position: relative;
    #legend {
      position: absolute;
      left: 0;
      bottom: 0;
      background-color: rgba(255, 255, 255, 0.8);
      color: black;
      padding: 20px;

      .legend-image {
        padding: 5px;
      }
    }
  }

  .multi-select {
    width: 250px;
    height: 150px;
    display: inline-block;
    margin-top: 15px;
    vertical-align: middle;
  }


  .link-btn {
    color: #FFFFFF;
    margin: 10px;
  }

  #drivers-heading {
    text-align: center;
    margin: 0 auto;
  }

  #driver-show {
    text-align: center;
  }

  th {
    text-align: center;
  }

  #driver-feed, #report-feed {
    text-align: center;

    a:visited {
      color: #337ab7;
    }
  }

  .driver-container {
    margin: 0 auto;
    width: fit-content;
    text-align: center;
    overflow: hidden;

    #form-col-1 {
      float: left;
      margin-right: 12px;
    }

    #form-col-2 {
      display: inline-block;
    }

    .form-group {
      text-align: left;
      margin: 15px auto;
      vertical-align: middle;
    }

    .form-label {
      width: 135px;
      vertical-align: middle;
    }

    .name {
      width: 135px;
      display: inline-block;
      margin: 0 5px;
    }

    .field {
      margin: 25px;
    }

    .control-label {
      margin: 0 5px;
    }

    .info {
      margin: 0 5px;
    }

    .city-label {
      width: 85px;
      margin-left: 10px;
    }

    #locations {
      display: block;

      .location-container {
        display: inline-block;
        margin-bottom: 25px;
        margin-right: 15px;

        .location {
          display: inline-block;
          margin: 0 10px;
        }
      }
    }
    .actions {
      clear: left;
    }
  }

  .feed td{
    font-size: 10px;

  }
}



.table-striped tr td {
  border: 1px solid black;
}


