// Place all the styles related to the Drivers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#driver-feed, #report-feed {
  td {
    vertical-align: middle;
  }
}

#driver-feed-filter {
  .feed-label, .feed-filter {
    margin: 10px 5px
  }
}

.green {
  background-color: rgba(60,186,84,0.6); // #3CBA54
}

.yellow {
  background-color: rgba(244,194,13,0.6); // #F4C20D
}

.red {
  background-color: rgba(255,0,0,0.5); // #E80000
  border: 1px solid black;
}

.cyan {
  background-color: rgba(78,127,138,0.6); // #4E7F8A
}

#show-page-covered-by {
  color: #DB3236;
}

#plate-trailer-warning {

  color: #DB3236;
  line-height: 1.2em;
  margin-left: 6px;
}

#show-table {
  margin: 0 auto;
  width: 50vw;
  td {
    max-width: 300px;
    vertical-align: middle;

  }
}


