// Place all the styles related to the Drivers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#driver-feed-filter {
  .feed-label, .feed-filter {
    margin: 10px 5px
  }
}

.truck-type {
  &.yellow {
    background-color: #FFFF00;
  }
}

#plate-trailer-warning {
  display: none;
  color: #DB3236;
  line-height: 1.2em;
  margin-left: 6px;
}
