// Place all the styles related to the reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#advanced-reporting {
  padding-left: 25px;

  h1 {
    text-align: center;
    margin-bottom: 25px;
  }

  .search-report-container {

    margin: 0 auto;
    width: fit-content;
    overflow: hidden;

    .report-label {
      width: 135px;
    }

    .search-report-section {
      display: inline-block;
      margin-right: 10px;
      float: left;
      &:last-child {
        margin-right: 0;
      }
    }
  }

  .report-buttons {
    clear: left;
    text-align: center;
    margin: 10px auto;
  }
}
